
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Protest+Guerrilla&display=swap');

footer {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}