<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home/calendar.css">
    <link rel="stylesheet" href="../css/home/home.css">
    <link rel="stylesheet" href="../css/style/button_nav.css">
    <link rel="stylesheet" href="../css/style/header.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reponsive/home.css">
    <title>WEB FOR WORK</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="img/maki logo.png" alt="">
            </div>
            <div class="list-item">
                <div class="item">
                    <button id="menu-button">Menu</button>
                    <div class="nav-links">
                        <button id="button_nav">
                            <a href="#"><span>HOME</span></a>
                        </button>
                        <button id="button_nav">
                            <a href="#"><span>WORK</span></a>
                        </button>
                        <button id="button_nav">
                            <a href="#"><span>LIKE</span></a>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>

        <!-- HOME -->
        <section id="work"> 
            
        </section>
        <!-- END HOME -->
        
    </main>
    <footer>
        <div class="copyright">Copyright © 2024 MAKI</div>
    </footer>
</body>
<script src="../js/calendar.js"></script>
<script src="../js/reponsive.js"></script>
</html>
