header  {
    position: relative;
    height: 100px;
}

header nav .logo{
    position: absolute;
    left: 0;
    width: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
header nav .logo img{
    width: 100%;
    
}

header nav .list-item {
    position: absolute;
    right: 0;
}

#menu-button {
    display: none;
}